* {
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}

header {
    background-color: rgb(253, 119, 82);
    height: 200px;
}
nav div, nav ul, nav ul li {
    background-color: rgb(75, 190, 172) !important;
}

ul {
    list-style-type: none;
}

li {
    display: block;
}

a {
    text-decoration: none;
}

nav div {
    display: flex;
    justify-content: center;
}

.menu {
    float: left;
    font-weight: bold;
    position: relative;
    width: 100px;
    height: 50px;
}

.menu a {
    text-align: center;
    line-height: 50px;
    color: #F7B733;
}

section div {
    height: 100%;
    background-color: #DFDCE3;
}